<!DOCTYPE html>
<html>
<head>
  <title>Triangle</title>
  <meta charset="utf-8" />


  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/css/codeb.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>

<body style="background-image: url('/static/img/mainpic/background.jpg')">
  <header class="container">
    <div class="row">
      <h1 class="col-sm-8" style="color: orange">Triangle</h1>
      <nav class="col-sm-4" style="color: white">
        <a href="../login" style="text-decoration: none; color: white;"><p>Login</p></a>
        <!--<p>newest</p>-->
        <div class="dropdown">
          <p class="dropbtn">Catalogue</p>
              <div class="dropdown-content">
                <a href="../catalog">All</a>
                <a href="../catalog/skincare">Skincare</a>
                <a href="../catalog/base_makeup">Base Makeup</a>
                <a href='../catalog/point_makeup'>Point Makeup</a>
                <a href="../catalog/accessories">Accessories</a>
                <a href="../catalog/fragrance">Fragrance</a>
              </div>
        </div>
        <p>About Us</p>
      </nav>
    </div>
  </header>
  <section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>Triangle Cosmetic</h2>
        <h3>Makeup Power</h3>
        <!--<a class="btn btn-primary" href="#">See all</a>-->
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row" style="color: orange;" >
      <div class="col-sm-6">
        <p>All</p>
        <a href="../catalog">
          <img src="/static/img/mainpic/All.jpg" class="hover" />
          <span class="text-content"><span><h1>All</h1></span></span>
        </a>
      </div>
      <div class="col-sm-6">
        <p>SkinCare</p>
        <a href="../catalog/skincare">
          <img src="/static/img/mainpic/Skincare.jpg" class="hover" />
          <span class="text-content"><span><h1>SkinCare</h1></span></span>
        </a>
      </div>
      <div class="col-sm-6">
        <p>Base Makeup</p>
        <a href="../catalog/base_makeup">
          <img src="/static/img/mainpic/BaseMakeup.jpg" class="hover" />
          <span class="text-content"><span><h1>Base Makeup</h1></span></span>
        </a>
      </div>
      <div class="col-sm-6">
        <p>Point Makeup</p>
        <a href="../catalog/point_makeup">
          <img src="/static/img/mainpic/PointMakeup.jpg" class="hover" />
          <span class="text-content"><span><h1>Point Makeup</h1></span></span>
        </a>
      </div>
      <div class="col-sm-6">
        <p>Accessories</p>
        <a href="../catalog/accessories">
          <img src="/static/img/mainpic/Accessories.jpg" class="hover" />
          <span class="text-content"><span><h1>Accessories</h1></span></span>
        </a>
      </div>
      <div class="col-sm-6">
        <p>Fragrance</p>
        <a href="../catalog/fragrance">
          <img src="/static/img/mainpic/Fragrance.jpg" class="hover" />
          <span class="text-content"><span><h1>Fragrance</h1></span></span>
        </a>
      </div>
      
    </div>
    <!--<div class="row text-center">
      <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
    </div>-->
  </section>
  <footer class="container">
    <div class="row">
      <p class="col-sm-4">&copy; 2016 Skillfair</p>
      <ul class="col-sm-8">
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg">
        </li>
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg">
        </li>
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg">
        </li>
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg">
        </li>
      </ul>
    </div>
  </footer>
</body>

</html>