<!DOCTYPE html>
<html>
<head>
  <title>Triangle</title>
  <meta charset="utf-8" />


  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/css/codebcatalog.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>

<body style="background-image: url('/static/img/mainpic/background.jpg')">
  <header class="container">
    <div class="row">
      <h1 class="col-sm-8" style="color: orange">Triangle</h1>
      <nav class="col-sm-4" style="color: white">
        <a href="../../home" style="text-decoration: none; color: white;"><p>Home</p></a>
        <a href="../../login" style="text-decoration: none; color: white;"><p>Login</p></a>
        <!--<p>newest</p>-->
        <div class="dropdown">
          <p class="dropbtn">catalogue</p>
              <div class="dropdown-content">
                <a href="../">All</a>
                <a href="../skincare">Skincare</a>
                <a href="../base_makeup">Base Makeup</a>
                <a href="../point_makeup">Point Makeup</a>
                <a href="../accessories">Accessories</a>
                <a href="../fragrance">Fragrance</a>
              </div>
        </div>
        <p>contact</p>
      </nav>
    </div>
  </header>
  <section class="jumbotron" style="background-image: url('/static/img/mainpic/PointMakeup.jpg');">
    <div class="container">
      <div class="row text-center">
        <h2>Triangle Cosmetic</h2>
        <h3>Makeup Power</h3>
        <!--<a class="btn btn-primary" href="#">See all</a>-->
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row" style="color: orange;" >
    <div class="row-xs-height">
    {% for obj in object_list %}
    {% ifequal obj.Ptype 'Point Makeup'%}
      		<div class="col-xs-4 col-height" style="height: 600px;">
        		<p style="height: 160px;">
                <span style="color: white">ProductID : </span>#{{ obj.Pid }}<br/>
        			 <span style="color: white">Product : </span>{{ obj.Pname }}<br/>
               <span style="color: white">Brand : </span>{{ obj.Pbrand }}<br/>
					     <span style="color: white">Type : </span>{{ obj.Ptype }}<br/>
					     <span style="color: white">Price : </span>{{ obj.Pprice }}<span style="color: white"> THB</span><br/>
               {% ifequal obj.Pamount 0 %}
                <span style="color: white">Stock : </span> <span style="color: red">Sold out </span> <br/>
                {% else %}
                <span style="color: white">Stock : </span> <span style="color: #02c902;">In Stock </span> <br/>
                {% endifequal %}
        		</p>
				    <img src="/static/img/Photo_Product/{{ obj.Ppicture }}" />
      		</div>
    {% endifequal %}
    {% endfor %}
    </div>
    </div>
    <!--<div class="row text-center">
      <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
    </div>-->
  </section>
  <footer class="container">
    <div class="row">
      <p class="col-sm-4">&copy; 2016 Skillfair</p>
      <ul class="col-sm-8">
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg">
        </li>
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg">
        </li>
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg">
        </li>
        <li class="col-sm-1">
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg">
        </li>
      </ul>
    </div>
  </footer>
</body>

</html>