<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed|PT+Sans+Caption|Viga" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/admintheme.css">
    <link type="text/css" rel="stylesheet" href="/static/css/style_beboonn.css">


    <link rel="shortcut icon" type="image/png" href="../../static/img/Triangle-LOGO_I.png" />
    <title>Administer - TRIANGLE</title>

</head>

<body>

    <!--navbar-->
    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand pull-left"><img src="../static/img/Triangle-LOGO_w2.png"></a>
            </div>
            <div class="navbar-right padding-right-30">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">WELCOME ADMIN <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="glyphicon glyphicon-new-window"></span>&nbsp;&nbsp;Go to Shop</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbs;pSetting</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!--sidebar-->
    <div class="container-fluid">
        <div class="row content select-content">
            <div class="col-md-2 sidenav">


                <div class="margin-top-40">
                </div>

                <div class="menu-item alpha width-100">
                    <h4><a href="home-admin.html"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a></h4>
                    <p>Welcome Admin!!</p>
                </div>

                <div class="menu-item active active-three-row width-100">
                    <h4><a href="#"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;Product</a></h4>
                    <ul class="active-sub">
                        <li><a style="color: #FFA09E;" href="./../select/">All Products</a></li>
                        <li><a href="./../addproduct/">Add Product</a></li>
                        <li><a href="#">Out of stock</a></li>
                    </ul>
                </div>

                <div class="menu-item four-row width-100">
                    <h4><a href="#"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Order</a></h4>
                    <ul class="inactive">
                        <li><a href="#">All Orders</a></li>
                        <li><a href="#">New Orders</a></li>
                        <li><a href="#">Search Order</a></li>
                        <li><a href="#">Create Invoices</a></li>
                    </ul>
                </div>

                <div class="menu-item three-row width-100">
                    <h4><a href="#"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Promotion</a></h4>
                    <ul class="inactive">
                        <li><a href="#">All Promotions</a></li>
                        <li><a href="#">Add Promotions</a></li>
                        <li><a href="#">Remove Promotions</a></li>
                    </ul>
                </div>

                <div class="menu-item two-row width-100">
                    <h4><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Customer</a></h4>
                    <ul class="inactive">
                        <li><a href="#">All Customers</a></li>
                        <li><a href="#">Search Customers</a></li>
                    </ul>
                </div>

                <div class="menu-item two-row width-100">
                    <h4><a href="#"><span class="glyphicon glyphicon-transfer"></span>&nbsp;Shipping</a></h4>
                    <ul class="inactive">
                        <li><a href="#">Shipping Region</a></li>
                        <li><a href="#">Add Region</a></li>
                    </ul>
                </div>

                <div class="menu-item width-100">
                    <h4><a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Setting</a></h4>
                </div>

            </div>

            <div class="col-md-10">
                <div class="margin-top-40"></div>
                <h2 class="headline">Update and Remove</h2>
                <hr class="break">

                <div class="container">
                    <table class="select-table">
                        <tr>
                            <th>Id</th>
                            <th>Pid</th>
                            <th>Product Name</th>
                            <th>Brand</th>
                            <th>Picture</th>
                            <th>Price</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Detail</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {%for row in rowlist%}
                        <tr>
                            <td>{{row.id}}</td>
                            <td>{{row.Pid}}</td>
                            <td>{{row.Pname}}</td>
                            <td>{{row.Pbrand}}</td>
                            <td>
                                <div class="img-select"><img src="../../static/img/Photo_Product/{{row.Ppicture}}"></div>
                            </td>
                            <td>{{row.Pprice}}</td>
                            <td>{{row.Ptype}}</td>
                            <td>{{row.Pamount}}</td>
                            <td>{{row.Pdetail}}</td>
                            <td><a href="/catalog/update/?id={{row.id}}">Update</a></td>
                            <td><a href="/catalog/delete/?id={{row.id}}">Delete</a></td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
        </div>

    </div>

</body>

</html>