<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed|PT+Sans+Caption|Viga" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/admintheme.css">

    <link rel="shortcut icon" type="image/png" href="../../static/img/Triangle-LOGO_I.png" />
    <title>Administer - TRIANGLE</title>
</head>

<body>

    <!--navbar-->
    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand"><img style="max-width: 200px; margin-top: -10px;" src="../../static/img/Triangle-LOGO_w2.png"></a>
            </div>
            <div class="navbar-right" style="padding-right: 30px;">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">WELCOME ADMIN <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="glyphicon glyphicon-new-window"></span>&nbsp&nbspGo to Shop</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp&nbspSetting</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>&nbsp&nbspLog out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!--sidebar-->
    <div class="container-fluid">
        <div class="row content" style="margin-top: 50px;">
            <div class="col-md-2 Sidebar" style="background-color: #563935;padding-top: 2px;margin-bottom: 0px;padding-bottom: 15px;">

                <div style="margin-top: 40px;">
                </div>

                <div class="menu-item alpha" style="width:100%;">
                    <h4><a href="home-admin.html"><span class="glyphicon glyphicon-home"></span>&nbsp&nbspHome</a></h4>
                    <p>Welcome Admin!!</p>
                </div>

                <div class="menu-item active active-three-row" style="width:100%;">
                    <h4><a href="#"><span class="glyphicon glyphicon-briefcase"></span>&nbsp&nbspProduct</a></h4>
                    <ul class="active-sub">
                        <li><a href="./../select/">All Products</a></li>
                        <li><a style="color: #FFA09E;" href="./../addproduct/">Add Product</a></li>
                        <li><a href="#">Out of stock</a></li>
                    </ul>
                </div>

                <div class="menu-item four-row" style="width:100%;">
                    <h4><a href="#"><span class="glyphicon glyphicon-th-list"></span>&nbsp&nbspOrder</a></h4>
                    <ul class="inactive">
                        <li><a href="#">All Orders</a></li>
                        <li><a href="#">New Orders</a></li>
                        <li><a href="#">Search Order</a></li>
                        <li><a href="#">Create Invoices</a></li>
                    </ul>
                </div>

                <div class="menu-item three-row" style="width:100%;">
                    <h4><a href="#"><span class="glyphicon glyphicon-tags"></span>&nbsp&nbspPromotion</a></h4>
                    <ul class="inactive">
                        <li><a href="#">All Promotions</a></li>
                        <li><a href="#">Add Promotions</a></li>
                        <li><a href="#">Remove Promotions</a></li>
                    </ul>
                </div>

                <div class="menu-item two-row" style="width:100%;">
                    <h4><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp&nbspCustomer</a></h4>
                    <ul class="inactive">
                        <li><a href="#">All Customers</a></li>
                        <li><a href="#">Search Customers</a></li>
                    </ul>
                </div>

                <div class="menu-item two-row" style="width:100%;">
                    <h4><a href="#"><span class="glyphicon glyphicon-transfer"></span>&nbspShipping</a></h4>
                    <ul class="inactive">
                        <li><a href="#">Shipping Region</a></li>
                        <li><a href="#">Add Region</a></li>
                    </ul>
                </div>

                <div class="menu-item" style="width:100%;">
                    <h4><a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp&nbspSetting</a></h4>
                </div>

            </div>

            <div class="col-md-10 ">
                <div style="margin-top: 35px;"></div>

                <h2 class="headline">Update Product</h2>
                <hr class="break">
                <form class="form-horizontal" form name="submit_form" id="submit_form" action="/catalog/showdata/" method="post">
                    <input type="hidden" name="id" value="{{product.id}}" />
                    <div style="margin-top: 40px;">
                        <div class="form-group">
                            <label class="control-label col-md-2 text-size-15" for="ProductID">Product ID</label>
                            <div class="col-md-3">
                                <input type="text" name="Pid" value="{{product.Pid}}" placeholder="Please enter product ID." style="width: 100%; height: 30px;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 text-size-15" for="Name">Name</label>
                            <div class="col-md-5">
                                <input type="text" name="Pname" value="{{product.Pname}}" placeholder="Please enter product name." style="width: 100%; height: 30px;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 text-size-15" for="Brand">Brand</label>
                            <div class="col-md-5">
                                <input type="text" name="Pbrand" value="{{product.Pbrand}}" placeholder="Please enter product brand." style="width: 100%; height: 30px;" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 text-size-15" for="Price">Price </label>
                            <div class="col-md-3">
                                <input type="text" name="Pprice" value="{{product.Pprice}}" placeholder="Please enter product price." style="width: 100%; height: 30px;" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-2 text-size-15" for="Price">Amount </label>
                            <div class="col-md-3">
                                <input type="number" value="{{product.Pamount}}" min="0" name="Pamount" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-2 text-size-15" for="Descript">Description</label>
                            <div class="col-md-5">
                                <textarea id="description" rows="10" cols="50" name="Pdetail" value="{{product.Pdetail}}" placeholder="Please enter product detail."></textarea>
                                <style>
                                    .userInput {
                                        text-align: left;
                                        margin: 1px;
                                        padding: 1px;
                                        width: 500px;
                                        height: 300px;
                                        vertical-align: top;
                                    }
                                </style>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 text-size-15" for="Category">Category</label>
                            <div class="col-md-3">
                                <input type="radio" name="Ptype" value="SkinCare" {%ifequal product.Ptype 'skincare' %} checked {%endifequal%} /> SkinCare
                                <br />
                                <input type="radio" name="Ptype" value="BaseMakeup" {%ifequal product.Ptype 'base makeup' %} checked {%endifequal%}/> Base Makeup
                                <br />
                                <input type="radio" name="Ptype" value="PointMakeup" {%ifequal product.Ptype 'point makeup' %} checked {%endifequal%}/> Point Makeup
                                <br />
                                <input type="radio" name="Ptype" value="Accessories" {%ifequal product.Ptype 'accessories' %} checked {%endifequal%}/> Accessories
                                <br />
                                <input type="radio" name="Ptype" value="Fragrance" {%ifequal product.Ptype 'fragrance' %} checked {%endifequal%}/> Fragrance
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 text-size-15" for="Image">Product image</label>
                            <div class="col-md-3">
                                <input type="text" name="Ppicture" value="{{product.Ppicture}}" placeholder="Please enter link of product picture." style="width: 100%; height: 30px;" />
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8 text-size-15">
                                <input type="button" value="Cancel" />
                                <input type="submit" value="Submit" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</body>

</html>