body {
    background: #F5EEE0;
}

footer {
    background-color: #563935;
    color: #f5f5f5;
    padding-bottom: 150px;
    margin-top: 50px;
    font-family: 'Cabin Condensed', sans-serif;
}

footer a {
    color: #f5f5f5;
    font-size: 20px;
}

footer span {
    color: #f5f5f5;
    font-size: 18px;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0.9;
}

.navbar-nav li a:hover {
    color: #FAFAFA !important;
}

.navbar-brand {
    font-size: 30px;
    position: relative;
    left: 15px;
    color: #FFA09E !important;
}

.dropdown-menu li a:hover {
    color: #FFA09E !important;
}

.navfont {
    font-family: 'Cabin Condensed', sans-serif;
}

.triangle-header-text1 {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #000;
    opacity: 1;
}

.triangle-header-text2 {
    font-family: 'Viga', sans-serif;
    font-size: 60px;
    font-weight: 1000;
    color: #FFA09E;
    opacity: 1;
}

.under-triangle-header {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 28px;
    color: #000;
    opacity: 1;
}

.triangle-white-box1 {
    background: #FFFFFF;
    opacity: 0.7;
    margin-left: 13vw;
    margin-right: 13vw;
    border-radius: 10px;
    position: relative;
    top: 140px;
}

.triangle-white-box2 {
    background: #FFFFFF;
    opacity: 0.7;
    margin-left: 13vw;
    margin-right: 13vw;
    border-radius: 10px;
    position: relative;
    top: 120px;
    left: 250px;
}

.triangle-img {
    overflow: hidden;
}

.triangle-img-shadow {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.50);
}

.hover14 {
    position: relative;
}

.hover14::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.hover14:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.triangle-catalog-text {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 28px;
    color: #000;
}

.btn-summit:hover {
    color: #fff !important;
    background: #FFA09E;
}

.carousel {
    height: 540px;
}

.padding-top-60 {
    padding-top: 60px;
}

.footer {
    background:
}