.navbar {
	padding-top: 5px;
	padding-bottom: 5px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 18px;
	letter-spacing: 3px;
}
.navbar-nav li a:hover {
	color: #FFDEAD !important;
}
.navbar-brand{
	font-size:24px;
	color: #FFDEAD !important;
}
